.container {
  display: flex;
  flex-direction: column;

  h2 {
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 36px;
    text-transform: uppercase;
    color: #282739;
  }

  p {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #282739;
    word-break: keep-all;
  }

  &.item-0 {
    grid-area: label0;
  }
  &.item-1 {
    grid-area: label1;
  }
  &.item-2 {
    grid-area: label2;
  }
  &.item-3 {
    grid-area: label3;
  }
}
