@import "/src/styles/variables.scss";

.container {
  position: absolute;
  width: 652px;
  height: 242px;

  background: #e8e8e8;
  box-shadow: 0px 10px 30px rgba(111, 115, 238, 0.1);
  border-radius: 5px;

  z-index: 4;
  margin-top: 16px;
  filter: drop-shadow(13px 28px 30px rgba(#000, 0.1));
}

.content {
  width: 100%;
  height: 100%;
  padding: 9px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  padding: 20px 24px;
  height: 100%;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  /* Gray 600 */

  color: #5d6c7b;

  &_main {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;

    /* Black */

    color: #282739;
    background: #f4f7fb;
    border-radius: 5px;
  }
}
