.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  border: solid 2px transparent;
  border-radius: 8px;
  overflow: hidden;
  transition: border 0.2s ease-in;
  height: 100%;
  min-width: 255px;
  &:hover {
    border: 2px solid #EAEBED;
  }
}

.gallery {
  flex-grow: 1;
}

.content {
  margin-top: 8px;
  padding: 0 8px 0 8px;
  position: relative;

  @media screen and (max-width: 768px) {
    padding: 0 2px;
  }
}

.title {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height */

  /* Black */

  color: #282739;
}

.price {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  /* Gray 600 */

  color: #5d6c7b;
}

.row {
  font-size: 0;
  line-height: 18px;
  position: relative;
  white-space: nowrap;
}

.labels {
  position: absolute;
  z-index: 9;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 0;
}
