@import "/src/styles/variables.scss";

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.main {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    align-items: center;
    justify-content: center;
  }
}

.additional {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 2rem;
  padding: 0px 0rem;
  gap: 1rem;
}