@import "/src/styles/variables.scss";

.label {
  border-radius: 5px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  background: black;
}

.green {
  background: #75d14a;
  color: #ffffff;
}

.red {
  background: #ee685f;
  color: #ffffff;
}

.yellow {
    background: #f3d112;
    color: #ffffff;
  }