.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.filters {
    position: relative;
    max-width: 255px;
    margin-right: 16px;
}

.store {
    position: relative;
    flex: 1;
}