.container {
  display: grid;
  padding: 16px 12px;

  grid-template-columns: repeat(4, 1fr);

  grid-template-areas: "label0  label1  label2  label3";

  gap: 2rem;
  height: 100%;

  & .item-0 {
    grid-area: label0;
  }

  & .item-1 {
    grid-area: label1;
  }

  & .item-2 {
    grid-area: label2;
  }

  & .item-3 {
    grid-area: label3;
  }
}
