.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.product__title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 51px;
  text-transform: uppercase;
  color: #282739;
  line-height: 100%;
}

.backinfo,
.shopinfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: stretch;
  justify-content: flex-start;
}

.shopinfo {
  margin-top: 20px;
}

.tag {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  padding: 1px;
  color: #5d6c7b;
}

.shop__item {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #282739;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  cursor: pointer;

  &:hover {
    color: #6f73ee;
  }

  &:active {
    color: #42448a;
  }
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
}

.old {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  text-decoration-line: line-through;
  color: #5d6c7b;
}

.current {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  text-transform: uppercase;
  color: #282739;
}
