.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.3s;
  max-width: 100%;
}

.container {
  background: #f0f1f5;
  border-radius: 10px;
  transition: all 0.3s;
  
}

.image {
  position: relative;
  background: #f0f1f5;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  background-color: #fff;
  border: 1.5px solid #6f73ee;
  border-radius: 4px;
  overflow: hidden;
}

.tab_header {
  display: flex;
  width: 100%;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.tab_item {
  cursor: pointer;
  padding: 10px 10px 20px;
  transition: all 0.2s ease-in-out;
  width: 100%;
  text-align: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #5d6c7b;
  border-bottom: 2px solid transparent;


  &__selected {
    color: #6f73ee;
    background-color: #f4f4f4;
    border-bottom: 2px solid #6F73EE;
  }
}

.tab_content {
  padding: 16px 2rem;
}
